---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const redirectTo = `${import.meta.env.BASE_URL}es/`;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta http-equiv="refresh" content={`0; url=${redirectTo}`} />
    <script is:inline>
      setTimeout(() => {
        window.location.href = "{`${redirectTo}`}";
      }, 100);
    </script>
  </head>
  <body>
    <p>Redirecting to <a href={redirectTo}>{redirectTo}</a>...</p>
  </body>
</html>
